---
layout: page
title: Autores
---


<h1 class="text-center mb-2">Sobre o projeto</h1>

<p>
Este projeto nasceu em 2015 com uma ideia inicial bem diferente e menos abrangente do que o conteúdo de hoje realizado. Esta ideia fazia parte de um grupo de quatro amigos do curso de Biologia da UnB: Ana Cecilia Holler, Yan Felipe Soares, Carlos José e Pedro de Siracusa.
Uma ideia que surgiu durante uma viagem de campo de uma disciplina da universidade que nós fizemos juntos para o Santuário de Vida Silvestre Fazenda Volta da Serra (FVS), localizada na região da Chapada dos Veadeiros - GO.
Nós percebemos que existia uma grande riqueza, principalmente de anuros, nesta fazenda e que essa riqueza era desconhecida e subestimada. Com isso, nós sentimos uma necessidade de amostrar a área dessa fazenda e na sua redondeza para poder fazer um levantamento das espécies de anuros.
E porque não fazermos isso em forma de um guia de campo? Assim, pessoas além da comunidade científica poderia ter fácil acesso às informações da Fazenda e de toda a região da Chapada dos Veadeiros.
</p><p>
Este projeto teve algumas modificações ao longo do tempo devido às várias demandas que foram surgindo, inclusive hoje ele faz parte do Laboratório de Fauna e Unidades de Conservação da UnB. 
Hoje esperamos preencher lacunas de informações fazendo um guia online e físico de anuros da Chapada dos Veadeiros, abrangendo informações acústicas como o canto,  fotos e vídeos dos mais variados comportamentos realizados por esse grupo incrível e carismático e várias curiosidades que já sabem sobre as espécies e as que ainda se estão descobrindo.
</p><p>
Esse guia de campo não foi fácil de ser realizado e está longe de ser finalizado. Exigiu várias viagens de campo para a região na intensão de encontrar esses animais em seu habitat natural, exibindo diferentes comportamentos, desde sua forma de girino até os adultos, e aparecendo em variados períodos do ano. Graças ao canto dos machos, feito para atrair a fêmea na época reprodutiva, esse grupo pode ser "facilmente" encontrado no campo, no entanto exige uma certa quantidade de paciência devido aos comportamentos de camuflagem, alguns se entocam facilmente e ao tamanho reduzido na maioria das espécies, e ao fato de que quando você chega perto eles param de cantar para sua própria proteção.
É um imenso prazer poder trabalhar com essas criaturas. A cada vez que se estuda sobre elas, se aprende cada vez mais, são capazes de nos ensinar sobre estrutura de comunidades, co-evolução entre as espécies de anuros que convivem em uma mesma lagoa, medicina e fármacos com remédios a base de venenos de sapos,  e, uma das coisas mais importantes, nos ensinar sobre o futuro, sobre mudanças climáticas, sobre aparecimento de doenças como febre amarela, entre várias outras importâncias.
</p><p>
Esse guia foto carinho e profissionalismo, feito tanto para a comunidade científica quanto para o público leigo que quer conhecer um pouco mais sobre esse tema. Está em contantes atualizações já que a ciência não é exata e não tem um ponto final, estamos sempre descobrindo coisas novas e, assim como os sapos e todos os seres vivos, sempre em evolução!
</p>



<blockquote class="blockquote text-right">Ana Cecília Holler del Prette</blockquote>

<h1 class="text-center">Autores</h1>
<p class="text-center lead">Conheça o time responsável pela construção deste projeto</p>

  {% for autor in site.data.autores.autores %}
  <div class="row my-5">
    <div class="col-4 col-md-3">
      <img class="rounded-circle img-fluid" src="{{site.baseurl}}/assets/img/authors-avatar/{{autor.avatar-img}}.jpg" alt="Generic placeholder image">
    </div>

    <div class="col">
      <h5 class="mt-0">{{autor.nome}}</h5>
      <h6 class="text-muted">{{autor.papel}}</h6>
      <p>{{autor.descricao}}</p>
      
      <div class="btn-group" role="group">
        {% for link in autor.links %}
        <a class="btn btn-outline-primary" href="{{link[1]}}" target="_blank" role="button">{{link[0]}}</a>
        {% endfor %}
      </div>
      
    </div>
  </div>
  {% endfor %}

<h1 class="text-center">Parceiros e Colaboradores</h1>
<p class="text-center lead">Sabe quem mais contribuiu? Muita gratidão à nossa rede de parceiros e colaboradores!</p>

<div class="row mb-5">
  {% for colaborador in site.data.autores.colaboradores %}
  <div class="col-6 col-sm-3 text-center">
    <img class="image-fluid rounded-circle w-75 py-3" src="{{site.baseurl}}/assets/img/authors-avatar/{{colaborador.avatar-img}}.jpg" alt="Generic placeholder image">
    <h5>{{ colaborador.nome }}</h5>
    <h6 class="text-muted">{{colaborador.papel}}</h6>
    <p>{{colaborador.descricao}}</p>
    <div class="btn-group" role="group">
      {% for link in colaborador.links %}
      <a class="btn btn-outline-primary" href="{{link[1]}}" target="_blank" role="button">{{link[0]}}</a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}


</div>



