---
layout: page
title: Espécies
---

<section>
<ul class="list-unstyled">
    {% for family in site.data.families %}
    {% assign familyName = family[1].scientificName %}
    <li><h3>Família <a href="/familias/{{familyName | slugify}}">{{familyName}}</a></h3>
        <ul class="list-unstyled" style="border-left: solid {{family[1].color}}">
            {% for page in site.pages %}
            {% assign species = site.data.species[page.species] %}
            {% if species.family == familyName %}
            <a href="/species/{{species.scientificName | slugify}}" class="no-underline">
            <li class="media species-entry">
                <img class="mr-3" src="/assets/img/sp-avatar/{{ species.scientificName | slugify }}.jpg" alt="" width=128>
                <div class="media-body">
                  <h5 class="mt-0 mb-1">{{species.scientificName}}</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            </a>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</section>
