<script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/javascript/howler/howler.js" | relative_url }}"></script>

<script src="{{"/assets/javascript/species-filters.js" | relative_url }}" type="text/javascript"></script>
<script src="{{"/assets/javascript/species-navigator.js" | relative_url }}" type="text/javascript"></script>
<script src="{{"/assets/javascript/species-sounds.js" | relative_url }}" type="text/javascript"></script>
<script src="{{"/assets/javascript/species-diagnose.js" | relative_url }}" type="text/javascript"></script>