<div class="habitat-banner" style="margin-top:2.5rem;">
  <img src="{{site.baseurl}}/assets/img/icons/phyto22.png" style="">
  <div class="div-overlay" style="background-color: #fff7;">
    <!-- Habit bar -->
    {% assign phytos = species.phytos | split: "," %}

    {% for phyto in phytos %}
    <div class="position-absolute justify-content-left" style="top:0; left: {{phyto_data[phyto].x_left}}%; width: {{phyto_data[phyto].width}}%; height:100%;">
      <div class="d-flex flex-column" style="height:100%;">
        <div class="me-1 pb-1" style="font-size:.8rem; font-weight:700;">{{phyto_data[phyto].text}}</div>

        <div class="flex-grow-1" style="border-left: .2em dashed {{family.color}}"></div>

        <div class="align-self-end">
        <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet" >
          <circle cx="50" cy="50" r="45" stroke="{{family.color}}" stroke-width="4" fill="none" />
          <line x1="0" y1="0" x2="20" y2="20" style="stroke: {{family.color}}; stroke-width: 5;" stroke-dasharray="4" />
        </svg>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="habit-bar float-end">
        {% if species.atividade_diu==1 %}
          {% if species.atividade_not==1 %}
          <img src="{{site.baseurl}}/assets/img/icons/habit_day_night.jpg">
          {% else %}
          <img src="{{site.baseurl}}/assets/img/icons/habit_day.jpg">
          {% endif %}
        {% elsif species.atividade_not==1 %}
          <img src="{{site.baseurl}}/assets/img/icons/habit_night.jpg">
        {% endif %}
    </div>

  </div>
</div>
