{%- assign page_paths = site.header_pages -%}
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
            <h5 class="text-white h4">Conteúdo</h5>
            <ul class="navbar-nav ms-auto">
              {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                <img id="logo" src="{{site.baseurl}}/assets/img/anfibios_veadeiros_header.png">
                {%- endif -%}
              {% endfor -%}
            </ul>
            
      </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-white border-bottom" id="mainnav">

      <div class="container">
      <a href="{{ "/" | relative_url}}">
        <img id="logo" width="160" src="{{site.baseurl}}/assets/img/anfibios_veadeiros_header.png">
      </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
          {% endfor -%}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Artigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chave interativa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>

  </div>
</nav>
