{% if species.endemic_chapada==1 %}
<span class="badge badge-pill badge-danger">
  Endêmico da Chapada dos Veadeiros
</span>
{% elsif species.endemic_cerrado==1 %}
<span class="badge badge-pill badge-danger">
  Endêmico do Cerrado
</span>
{% endif %}


{% if species.detectability_ff==1 %}
<span class="badge badge-pill badge-success">
  Muito comum
</span>
{% elsif species.detectability_f==1 %}
<span class="badge badge-pill badge-success">
  Comum
</span>
{% elsif species.detectability_r %}
<span class="badge badge-pill badge-warning text-white">
  Pouco comum
</span>
{% else %}
<span class="badge badge-pill badge-danger">
  Rara
</span>


{% endif %}
