<!-- Species list -->

  {% for species in splist %}
  <li class="species-card species-list-item col-12 col-md-4 col-lg-3 p-md-0" data-species="{{species.scientificName | slugify}}">
  
    <!-- Portfolio display, visible in >= md -->
    <a class="portfolio-box d-none d-md-block" href="{{site.baseurl}}/especies/{{species.scientificName | slugify}}" style="color:{{family.color}}"  >
      <img class="img-fluid" src="{{site.baseurl}}/assets/img/sp-avatar/{{species.scientificName | slugify}}.jpg" alt="" onError="this.src='https://placehold.co/1800x1200'">
      <div class="portfolio-box-caption  d-none d-md-block" style="background-color:{{family.color}};">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">{{species.vernacularNames[0]}}</div>
          <div class="project-name text-faded">{{species.scientificName}}</div>
        </div>
      </div>
    </a>



      <!-- Only visible in < md -->
      <div class="splist-item" style="border-left: solid .3rem; color:{{family.color}}">
        <a class="unstyled d-md-none d-flex" href="{{site.baseurl}}/especies/{{species.scientificName | slugify}}">
          <div class="col-5">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/sp-avatar/{{species.scientificName | slugify}}.jpg" alt="" onError="this.src='https://placehold.co/1800x1200'">
          </div>
          <div class="col-7 d-flex flex-column mb-4">
            <!-- Species name -->
            <div class="d-flex flex-nowrap gap-2 align-items-baseline"> <h1>{{species.vernacularNames | first}}</h1></div>
            <div class="d-flex flex-wrap align-items-baseline">
              <h2 class="pe-2 mb-0">
                <i>{{ species.scientificName | escape }}</i>
              </h2>
            </div>
          
            
            <!-- Species badges -->
            {% assign n_tcp = {{species.tcp_te | plus: species.tcp_gr | plus: species.tcp_lb |plus: species.tcp_hb}} %}
            <span class="mt-3 {% if n_tcp==0 %}d-none{% endif %}">Onde canta:</span>
            <div class="d-flex flex-row gap-1 flex-wrap">
            
            {% if species.tcp_te==1 %}<span class="badge rounded-pill text-bg-light">Chão</span>{% endif %}
            {% if species.tcp_gr==1 %}<span class="badge rounded-pill text-bg-light">Grama</span>{% endif %}
            {% if species.tcp_lb==1 %}<span class="badge rounded-pill text-bg-light">Arbustos baixos</span>{% endif %}
            {% if species.tcp_hb==1 %}<span class="badge rounded-pill text-bg-light">Arbustos altos</span>{% endif %}
            </div>
          
          
          </div>



        </a>
      </div>


  </li>
  {% endfor %}


<!-- end Species list -->
