<!-- Species list -->

  {% for species in splist %}
  <li class="species-card species-list-item col-12 col-md-4 col-lg-3 p-md-0" data-species="{{species.scientificName | slugify}}">
  
    <!-- Portfolio display, visible in >= md -->
    <a class="portfolio-box d-none d-md-block" href="{{site.baseurl}}/especies/{{species.scientificName | slugify}}" style="color:{{family.color}}"  >
      <img class="img-fluid" src="{{site.baseurl}}/assets/img/sp-avatar/{{species.scientificName | slugify}}.jpg" alt="" onError="this.src='https://placehold.co/1800x1200'">
      <div class="portfolio-box-caption  d-none d-md-block" style="background-color:{{family.color}};">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">{{species.vernacularNames[0]}}</div>
          <div class="project-name text-faded">{{species.scientificName}}</div>
        </div>
      </div>
    </a>



      <!-- Only visible in < md -->
       <div style="border-left: solid .3rem; color:{{family.color}}">
      <a class="unstyled d-md-none d-flex" href="{{site.baseurl}}/especies/{{species.scientificName | slugify}}">
        <img class="img-fluid w-50" src="{{site.baseurl}}/assets/img/sp-avatar/{{species.scientificName | slugify}}.jpg" alt="" onError="this.src='https://placehold.co/1800x1200'">
        <div>
          <h5>{{species.vernacularNames[0]}}</h5>
          <h5 class="species-name">{{species.scientificName}}</h5>
        </div>
      </a>
      </div>


  </li>
  {% endfor %}


<!-- end Species list -->
