<!-- https://fvsch.com/svg-icons/ -->
{% assign handsize = 170.0 %}
{% assign spsize = species.tamanho_med | divided_by: 1 %}

{% assign rendersize = 6 %}

{% if spsize > handsize %}
  {% assign spsize_render = rendersize %}
  {% assign handsize_render = handsize | divided_by: spsize | times: rendersize %}
{% else %}
  {% assign handsize_render = rendersize %}
  {% assign spsize_render = spsize | divided_by: handsize | times: rendersize %}
{% endif %}

<h6>Tamanho médio: <small>{{ spsize | divided_by: 10 | round: 1 }} cm</small></h6>
<div class="d-flex justify-content-center">
<svg style="width:{{spsize_render}}em; height:{{rendersize}}em;">
  <use xlink:href="{{site.baseurl}}/assets/sprite/icons.svg#{{species.family_id}}" fill="{{family.color}}"></use>
</svg>
<svg style="width: {{handsize_render}}em; height:{{rendersize}}em;">
  <use xlink:href="{{site.baseurl}}/assets/sprite/icons.svg#hand" fill="{{family.color}}"></use>
</svg>
</div>
