// This is the place to place Bootstrap's variables overrides.
// As example you can start by importing the _variables.scss file from one of the
// theme provided by https://bootswatch.com .


// Some customization of the container class to have a better display in the guide.
// Don't hesitate to remove it to have a standard Bootstrap behavior
// $container-max-widths: (
//   sm: 540px,
//   md: 640px,
//   lg: 720px,
//   xl: 1080px
// ) !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-650: #666 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$custom-primary:  #e08f1b !default;

// Font customization

$font-family-sans-serif:      'Open sans', "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-normal:          400;
$line-height-base:            1.6;

$body-color:                $gray-700;

// Customização (Anfíbios)
// Aqui podemos acessar as variáveis do bootstrap https://getbootstrap.com/docs/5.3/customize/color/

$primary: $orange;


$display-font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem
);