---
layout: page
title: Espécies
---

{% assign speciesData = site.data.species %}
{% assign familiesData = site.data.families %}
{% assign families-spp =  speciesData | group_by_exp: "i", "i[1].family"  %}

{% assign families-spp = speciesData | group_by: "family" %}


<section>
{% for i in families-spp %}
    {% assign family_id = i.name | slugify %}
    {% assign family = familiesData[family_id] %}
    {% assign splist = i.items %}
    <ul class="list-unstyled">
        <li><h3>Família <a href="{{site.baseurl}}/familias/{{family.scientificName | slugify }}">{{family.scientificName}}</a></h3></li>

        <!-- Species list -->
        <ul class="list-unstyled" style="border-left: solid {{family.color}}">
        {% for species in splist  %} 
            <a href="{{site.baseurl}}/especies/{{species.scientificName | slugify }}" class="no-underline">
                <li class="media species-entry position-relative">
                    <div class="h-100 w-100 position-absolute overlay" style="background-color:{{family.color}}; opacity:0;"></div>
                    <img class="mr-3" src="{{site.baseurl}}/assets/img/sp-avatar/{{species.scientificName | slugify}}.jpg" alt="" width=128>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">{{species.scientificName}} <small>({{species.scientificNameAuthorship}})</small></h5>
                      <h6>{{species.vernacularNames | join: ", "}}</h6>
                    </div>
                </li>
            </a>
            <li></li>
        {% endfor %} 
        </ul>
        <!-- -->

    </ul>
{% endfor %}
<section>
