---
layout: base
---

{% assign pathSplit = page.path | split: "/" %}
{% assign familySlug = pathSplit[1] | replace: ".md", "" | replace: ".html", "" %}

{% assign family = site.data.families[familySlug] %}
{% assign splist = site.data.species | where: "family_id", familySlug %}





<!-- Page content -->
<div class="container page-content">
    <article>

        <div class="row">
          <div class="col">
            <h1>Família <i>{{ family.scientificName | escape }}</i></h1>
          </div>
        </div>

        {{ content }}
        
        {% include specieslist.html splist=splist %}

    </article>
</div>
