---
layout: base
---

{% assign pathSplit = page.path | split: "/" %}
{% assign familySlug = pathSplit[1] | replace: ".md", "" | replace: ".html", "" %}

{% assign family = site.data.families[familySlug] %}
{% assign splist = site.data.species | where: "family_id", familySlug %}



<!-- Helper subnav for when mainnav is collapsed -->
<div id="helper-subnav" class="navbar bg-body-tertiary d-lg-none" aria-label="breadcrumb">
  <div class="container d-flex flex-row">
    <a href="{{site.baseurl}}/especies" style="text-decoration:none; color:#8c8c8c;">
      <i class="fa fa-chevron-left fa-1x me-2" aria-hidden="true"></i>
      <span class="">Lista de espécies</span></a>
  </div>
</div>

<div class="py-1 mb-3" style="background-color:{{ family.color }}; color:white;">
  <div class="container">
    <h1>Família <i>{{ family.scientificName | escape }}</i></h1>
  </div>
</div>
<!-- Page content -->
<div class="container page-content">
    <article>

        {{ content }}
        <ul class="list-unstyled row">
        {% include specieslist.html splist=splist %}
        </ul>
    </article>
</div>
