---
layout: base
---

{% assign pathSplit = {{page.path}} | split: "/" %}
{% assign speciesSlug = {{pathSplit[1] | replace: ".md", "" | replace: ".html", ""}} %}

{% assign species = site.data.species[speciesSlug] %}

{% assign familySlug = species.family | slugify %}
{% assign family = site.data.families[familySlug] %}

<!-- Subheader -->
<div class="subheader" style="background-color:{{ family.color }}; color:white;">
    <div class="container">
        <h3><a href="/familias/{{family.scientificName | slugify}}">Família {{ family.scientificName }}</a></h3>
    </div>
</div>

<!-- Page content -->
<div class="container page-content">
    <article>
      <section> 
        <div class="row">
          <div class="col-sm-6">
              <img src="/assets/img/sp-avatar/{{ species.scientificName | slugify }}.jpg">
          </div>

          <div class="col-sm-6">
            <h1>{{ species.scientificName | escape }} <small>({{ species.scientificNameAuthorship }})</small></h1>
            <h3>{{ species.vernacularName | escape }}</h3>
          </div>
        </div>
      </section>

      <section>
      </section>

      <section>
        {{ content }}
      </section>

    </article>
</div>
