---
layout: base
---

{% assign pathSplit = page.path | split: "/" %}
{% assign speciesSlug = pathSplit[1] | replace: ".md", "" | replace: ".html", "" %}

{% assign species = site.data.species[speciesSlug] %}
{% assign species =  site.data.species | where: "id", speciesSlug %}
{% assign species = species.first %}

{% assign familySlug = species.family | slugify %}
{% assign family = site.data.families[familySlug] %}


<!-- Subheader -->
<div class="subheader" style="background-color:{{ family.color }}; color:white;">
    <div class="container">
        <h3><a href="{{site.baseurl}}/familias/{{family.scientificName | slugify}}">Família {{ family.scientificName }}</a></h3>
    </div>
</div>


<!-- Page content -->
<div class="container page-content">
    <article>
      <section> 
        <div class="row">
          <div class="col-sm-6">
              <img src="{{site.baseurl}}/assets/img/sp-avatar/{{ species.scientificName | slugify }}.jpg" onError="this.src='https://via.placeholder.com/350x250';">

          </div>

          <div class="col-sm-6">
            <h1>{{ species.scientificName | escape }} <small>({{ species.scientificNameAuthorship }})</small></h1>
            <h3>{{ species.vernacularNames  }}</h3>
          </div>
        </div>
      </section>

      <section>
      <!-- https://fvsch.com/svg-icons/ -->
      {% assign handsize = 170.0 %}
      {% assign female_size = species.tamanho_femea_max | plus: species.tamanho_femea_min | divided_by: 2 %}
      {% assign male_size = species.tamanho_macho_max | plus: species.tamanho_macho_min | divided_by: 2 %}
      {% assign spsize = female_size | plus: male_size | divided_by: 2 %}

      {% assign rendersize = 6 %}

      {% if spsize > handsize %}
        {% assign spsize_render = rendersize %}
        {% assign handsize_render = handsize | divided_by: spsize | times: rendersize %}
      {% else %}
        {% assign handsize_render = rendersize %}
        {% assign spsize_render = spsize | divided_by: handsize | times: rendersize %}
      {% endif %}
      

      <div class="row">
        <div class="col-6 offset-sm-6">
        <h6>Tamanho médio: <small>{{ spsize | round }} mm</small></h6>
        <svg style="width:{{spsize_render}}em; height:{{rendersize}}em;">
          <use xlink:href="{{site.baseurl}}/assets/sprite/icons.svg#odontophrynidae" fill="{{family.color}}"></use>
        </svg>
        <svg style="width: {{handsize_render}}em; height:{{rendersize}}em;">
          <use xlink:href="{{site.baseurl}}/assets/sprite/icons.svg#hand" fill="{{family.color}}"></use>
        </svg>
        </div>
      </div>
      </section>

      <section>
        {% if species.endemic_cerrado==1 %}
            <p>Endêmico do Cerrado</p>
        {% endif %}
        {% if species.endemic_chapada==1 %}
            <p>Endêmico da Chapada dos Veadeiros</p>
        {% endif %}
      </section>

      <section>
        {{ content }}
      </section>

    </article>
</div>
